<!DOCTYPE html>
<html>
<head>
	<title>Ganesha</title>
	<meta charset="utf-8">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<style type="text/css">
		.jumbotron {
		 	margin: 30px;
		}
	</style>
	<style>
body {
    background-color: white;
}

h2 {
    color: blue;
    text-align: left;
}
h1 {
    color: blueviolet;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}
</style>
</head>
<body>

<link rel="stylesheet" href="{% static 'css/fontello.css' %}">

</br>

	<div class="row">
		<div class="col-md-9">
			<div class="jumbotron">
			<h1>¡Contáctanos!</h1>
			</div>
		</div>
	</div>

</br>

<div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		
		<a class="navbar-brand" href="/">Inicio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="catalogo">Catálogo<span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" href="#">Contacto</a>

			</div>
		
		</div>
	</nav>


</br>
</br>
			<div>
				<h5>
					Edith Del Carmen Valdivia Saavedra
				</h5>
			</div>
			<div class="contenedor">
				<h5 class="icon-users">(+56) 957091177</h5>
				<imput type="checkbox" id="menu-bar">
			</div>
			<div class="contenedor">
				<imput type="checkbox" id="menu-bar">
				<label class="icon-instagram" for="menu-bar">ganesha_chaquetas</label>
				<nav class="menu">
				
				</nav>
			</div>
			<div class="contenedor">
				<imput type="checkbox" id="menu-bar">
				<label class="icon-facebook-squared" for="menu-bar">Tienda Ganesha</label>
				<nav class="menu">				
				</nav>
			</div>
	
</div>

</body>
</html>






